<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35292969653-i13heidu3691d7ci46ihqlsiva446e3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35292969653-i13heidu3691d7ci46ihqlsiva446e3g</string>
	<key>API_KEY</key>
	<string>AIzaSyBkgDebM2rtH_ATnzlBZc_7JkG3ABoKVKw</string>
	<key>GCM_SENDER_ID</key>
	<string>35292969653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fatimah.project1</string>
	<key>PROJECT_ID</key>
	<string>project1-77d4e</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-77d4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35292969653:ios:d0c33dd61f785eed9adcfc</string>
	<key>DATABASE_URL</key>
	<string>https://project1-77d4e-default-rtdb.firebaseio.com</string>
</dict>
</plist>